<div class="col-xs-3">
  <h2>User info</h2>
  <%= form_for(@user) do |f| %>
    <div class="form-group has-icon">
      <%= f.label :name, "name",  class: 'control-label', for: "name" %>
      <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail" %>
      <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
      <%= f.label :profile_image, "image",  class:'control-label', for:"profile_image" %>
      <%= f.attachment_field :profile_image, class: "user-edit-form" %>
    </div>
    <div class="form-group has-icon">
      <label class="control-label sr-only" for="inputEmail">Introduction</label>
      <%= f.label :introduction, "introduction",  class: 'control-label', for: "introduction" %>
      <%= f.text_area :introduction, class:"form-control" %>
      <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>
    <%= f.submit "update user", class:"btn btn-default" %>
  <% end %>
</div>
