<div class="col-xs-3">
  <%= render 'users/info', user: @user2, book: @book2 %>
</div>
<div class="col-xs-9">
  <h1>Book detail</h1>
  <table width="100%">
    <tr>
    	<% if current_user.id == @book.user_id %>
    	  <td width="20%"><%= attachment_image_tag @user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "60x60" %><br><%= link_to @user.name, user_path(@user) %></td>
    	  <td width="20%"><%= link_to @book.title, book_path(@book) %></td>
    	  <td width="20%"><%= @book.body %></td>
    	  <td width="20%">
    	  	<p><%= link_to "edit", edit_book_path(@book), class:"btn btn-success" %></<p>
    	  </td>
    	  <td width="20%">
    	  	<p><%= link_to "destroy", book_path(@book), method: :delete, class:"btn btn-danger" %></p>
    	  </td>
    	<% else %>
    	  <td width="50%"><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %><br><%= link_to @user.name, user_path(@user) %></td>
    	  <td width="25%"><%= link_to @book.title, book_path(@book) %></td>
    	  <td width="25%"><%= @book.body %></td>
    	<% end %>
    </tr>
  </table>
</div>