<div class="col-xs-3">
  <%= render 'users/info', user: @user, book: @book %>
</div>
<div class="col-xs-9">
  <h1>Book detail</h1>
  <table class="table">
    <tr>
    	<% if current_user.id == @book2.user_id %>
    	  <td width="20%"><%= attachment_image_tag @user2, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "60x60" %><br><%= link_to @user2.name, user_path(@user2) %></td>
    	  <td width="20%"><%= link_to @book2.title, book_path(@book2) %></td>
    	  <td width="20%"><%= @book2.body %></td>
    	  <td width="20%">
    	  	<p><%= link_to "edit", edit_book_path(@book2), class:"btn btn-success" %></<p>
    	  </td>
    	  <td width="20%">
    	  	<p><%= link_to "destroy", book_path(@book2), method: :delete, class:"btn btn-danger" %></p>
    	  </td>
    	<% else %>
    	  <td width="50%">
          <%= link_to user_path(@book2.user_id) do %>
            <%= attachment_image_tag @user2, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "60x60" %><br><%= @user2.name %>
          <% end %>
        </td>
    	  <td width="25%"><%= link_to @book2.title, book_path(@book2) %></td>
    	  <td width="25%"><%= @book2.body %></td>
    	<% end %>
    </tr>
  </table>
</div>