<div class="col-xs-3">
  <h1>Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group has-icon">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class:"form-control" %>
    </div>
    <div class="form-group has-icon">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <!--<%= f.check_box :name %>Remember me<br>-->
    <%= f.submit "Log in", class:"btn btn-primary" %>
  <% end %>
  <%= link_to "Sign up", new_user_registration_path %><br>
  <%= link_to "Forgot your password?", edit_user_password_path %>
</div>